<div class="row justify-content-center">
  <div class="col col-lg-6">
    <h2><strong>Register</strong></h2>
    <form>
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col">
          <div data-mdb-input-init class="form-outline">
            <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" />
            <label class="form-label">First name</label>
          </div>
        </div>
        <div class="col">
          <div data-mdb-input-init class="form-outline">
            <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" />
            <label class="form-label">Last name</label>
          </div>
        </div>
      </div>
    
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" [(ngModel)]="email" name="email" class="form-control" />
        <label class="form-label">Email address</label>
      </div>
    
      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" [(ngModel)]="password" name="password" class="form-control" />
        <label class="form-label">Password</label>
      </div>
    
      <!-- Submit button -->
      <button (click)="registerUser()" data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
    </form>
  </div>
</div>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>