<div class="row justify-content-center">
    <div class="col col-lg-6">
      <h2><strong>Item List</strong></h2>
      <div>
        <form class="mx-auto">
          <table class="table table-bordered table-striped">
              <thead class="table-dark">
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Data</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody class="table-group-divider">
                  <tr>
                      <th scope="row">1</th>
                      <td>Islombek</td>
                      <td>2000</td>
                      <td>17.12.2000</td>
                      <td>
                          <div class="d-grid gap-2 d-md-block">
                              <button class="btn btn-outline-warning m-1">Edit</button>
                              <button class="btn btn-outline-danger ">Delete</button>
                          </div>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Javohir</td>
                    <td>1000</td>
                    <td>17.12.2004</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-outline-warning m-1">Edit</button>
                            <button class="btn btn-outline-danger ">Delete</button>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Sherzod</td>
                    <td>2000</td>
                    <td>17.12.2000</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-outline-warning m-1">Edit</button>
                            <button class="btn btn-outline-danger ">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Akobir</td>
                    <td>2000</td>
                    <td>17.12.2000</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-outline-warning m-1">Edit</button>
                            <button class="btn btn-outline-danger ">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Og'abek</td>
                    <td>2000</td>
                    <td>17.12.2000</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-outline-warning m-1">Edit</button>
                            <button class="btn btn-outline-danger ">Delete</button>
                        </div>
                    </td>
                </tr>
              </tbody>
          </table>
      </form>
      </div>
      <div>
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
  </div>
</div>